<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
        <style>
            * {
                box-sizing: border-box;
                margin: 0;
            }

            body {
                margin: 0;
                font-family: 'DM Sans', sans-serif;
                text-align: center;
                color: #252525;
            }

            .background {
                width: 100%;
                height: 100&;
                background-color: #e0e0e0;
                display: flex;
                flex-direction: column;
                /*justify-content: center;*/
                align-items: center;
                padding: 5% 10%;
            }

            .logo-container {
                height: 100%;
                display: flex;
                align-items: center;
                width: 150px;
            }

            .logo-text {
                color: #D25E5A;
            }

            .gallery-icon {
                height: 3.5rem;
                filter: invert(80%);
                /*margin-left: 10%;*/
            }

            .message-container {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                padding: 8% 8% 0 8%;
                position: relative;
            }

            h1 {

            }

            hr {
                opacity: 30%;
                width: 40%;
                margin: 1rem 0;
            }

            .primary-text {
                margin-bottom: 3rem;
                max-width: 300px;
            }

            button {
                margin-bottom: calc(3rem + 60px);
                width: auto;
                font-weight: 700;
                padding: 10px 30px;
                border-radius: 5px;
                border: 2px solid #5B5D70;
                cursor: pointer;
                background-color: #E4C568;

            }

            button:hover {
                background-color: #e1bc4a;
            }

            .secondary-text {
                color: #8e8e8e;
                margin-bottom: calc(1rem + 60px);
                font-size: 0.8em;
                max-width: 250px;
            }

            footer {
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'DM Sans', sans-serif;
                color: #8e8e8e;
                width:100%;
                height:60px;
                box-shadow: 0 5px 17px -7px rgba(0, 0, 0, 0.75);
            }

            .copyright {
                margin-left: 5.5%;
            }

            .contact-container {
                margin-right: 5.5%;
                width: 185px;
                display: flex;
                justify-content: space-between;
            }

            .ecole-logo {
                height: 40px;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
            }

            .soc-icon {
                height: 20px;
            }

            .linked-in {
                filter: invert(45%);
            }

            @media (max-width: 600px) {
                button {
                    margin-bottom: calc(3rem + 125px);
                }

                .secondary-text {
                    margin-bottom: calc(1rem + 125px);
                }

                footer {
                    flex-direction: column;
                    align-items: center;
                    height: auto;

                }

                .copyright {
                    margin: .5rem 0;
                }

                .ecole-logo {
                    position: relative;
                    margin-bottom: .5rem;
                }

                .contact-container {
                    width: 100%;
                    padding: 0 8% .5rem 8%;
                    margin-right: 0;
                }
            }

        </style>
    </head>
    <body>
        <div class="background">
            <div class="logo-container">
                <h2 class="logo-text">
                    Camagru
                </h2>
                <img class="gallery-icon" src="<%= rawUrl %>/img/pngwing.com.png" alt="gallery icon"/>
            </div>
            <div class="message-container">
                <h1>Answer to the comment you got!</h1>
                <hr>
                <p class="primary-text"><%= firstName %>, continue the conversation! </p>
                <p class="secondary-text">
                    If you don't want to get notifications click this
                    <a href="<%= url %>">link</a>
                    to go to notification settings.
                </p>
                <footer>
                    <p class="copyright">Made by mclown with 🧠.</p>
                    <img class="ecole-logo" src="<%= rawUrl %>/img/ecole-42-icon.png">
                    <div class="contact-container">
                        <a href="https://www.linkedin.com/in/dm-avadyaev/" target="_blank">
                            <img class="soc-icon linked-in" src="<%= rawUrl %>/img/in-icon.png"></a>
                        <a href="https://github.com/Mitia-Avadiaev" target="_blank">
                            <img class="soc-icon git-hub" src="<%= rawUrl %>/img/GitHubIcon.png"></a>
                        <a href="https://www.instagram.com/synnnnnnnc/" target="_blank">
                            <img class="soc-icon instagram" src="<%= rawUrl %>/img/InstagramIcon.png"></a>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>