<!doctype html>
<html lang="en">
        <%- include('./partials/_head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div class="account-page">
                <div class="side-settings-menu">
                    <a href="/edit-profile">
                        <p class="settings-section-caption">Edit profile</p>
                    </a>
                    <a href="/change-password">
                        <p class="settings-section-caption selected">Change password</p>
                    </a>
                    <a href="/email-notifications">
                        <p class="settings-section-caption">Email notifications</p>
                    </a>
                </div>
                <div class="settings-section change-password">
                    <div class="caption-part-settings">
                        <a>
                            <img class="user-avatar-settings" src="/img/<%= user.avatar %>">
                        </a>
                        <p class="settings-caption">Old password</p>
                        <p class="settings-caption new-password">New password</p>
                        <p class="settings-caption">Confirm new password</p>
                    </div>
                    <div class="input-part-settings">
                        <div class="name-link-container">
                            <p class="settings-user-name"><%= user.login %></p>
                        </div>
                        <form class="settings-form" id="user-password-form" enctype="multipart/form-data">
                            <input class="settings-input" id="old-password" type="password">
                            <input class="settings-input" id="new-password" type="password">
                            <input class="settings-input" id="new-password-confirm" type="password">
                            <button class="submit settings-submit">Submit</button>
                        </form>
                        <a class="forgot-password change-avatar-link" id="password-reset-link" href="/password-reset">
                            Forgot password?
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>